/core
*.pyc
*_pb2.py
*~
Makefile
.DS_Store
*.xcworkspace

/.cipd
/cipd.lock
/buildtools/

/Doxyfile

/third_party/boringssl/*
!/third_party/boringssl/BUILD.gn
!/third_party/boringssl/LICENSE
!/third_party/boringssl/src

/docs/
/out/
/third_party/doxygen/build/
/third_party/binutils
/third_party/llvm-build/

/sample_xcode_project/*.framework/
/sample_xcode_project/sample_xcode_project.xcodeproj/xcuserdata/
